<app-header
  headerText="Welcome to"
  mainText="My Blog"
  footerText=""
  image="/assets/Blog.jpg"
  imageAlt="A picture of a newspaper"
></app-header>

<div class="relative overflow-hidden">
  <div
    class="my-20 mx-5 text-white sm:flex sm:flex-wrap sm:basis-full justify-center md:grid md:grid-cols-1 md:px-5 lg:grid-cols-2 xl:grid-cols-3 lg:justify-evenly"
    id="blog">
    <h1 class="font-heading text-2xl text-white md:text-3xl lg:text-4xl" *ngIf="(blogPosts | async)?.length === 0">
      No posts yet. Check back soon!
    </h1>
    <app-blog-card [blogPost]="blog" *ngFor="let blog of (blogPosts | async) | slice:(page-1) * 6:((page-1)*6)+6"></app-blog-card>
  </div>
  <div class="flex justify-center m-5 px-5 text-white">
    <button class="flex space-x-1 px-5" [ngClass]="{'hidden': page <= 1}" (click)="pageChange('backward')">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
      <span>Previous page</span>
    </button>
    <button class="flex space-x-1 px-5" [ngClass]="{'hidden': totalPosts <= ((page - 1) * 6) + 6}" (click)="pageChange('forward')">
      <span>Next page</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
    </button>
  </div>
</div>
