<app-header
  headerText="Welcome to"
  mainText="My Blog"
  footerText=""
  image="/assets/Blog.jpg"
  imageAlt="A picture of a newspaper"
></app-header>

<div class="relative overflow-hidden">
  <div
    class="my-20 mx-5 md:mx-10 text-white md:flex md:basis-full md:flex-wrap md:justify-between md:px-5"
    id="blog">
    <h1 class="font-heading text-2xl text-white md:text-3xl lg:text-4xl" *ngIf="(blogPosts | async)?.length === 0">
      No posts yet. Check back soon!
    </h1>
    <app-blog-card [blogPost]="blog" *ngFor="let blog of (blogPosts | async)" (click)="navigate(blog)"></app-blog-card>
  </div>
</div>
