<div *ngIf="loading" class="flex flex-col justify-center items-center h-[80vh]">
  <h1 class="font-heading text-3xl text-white">Loading post...</h1>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div *ngIf="notFound">The blog post you requested could not be found!</div>
<div *ngIf="blog && !loading" class="my-5 px-5 text-white md:mx-auto md:flex md:max-w-screen-md md:flex-col md:justify-evenly md:space-y-2 lg:max-w-screen-lg xl:max-w-screen-xl">
  <img *ngIf="blog.headerImage" src="{{ blog.headerImage }}" alt="" class="object-cover mask h-[300px] w-full rounded-t-3xl"
       aria-hidden="true"/>
  <h1 class="font-heading text-6xl text-white">{{ blog.title }}</h1>
  <div class="flex items-baseline mb-2">
    <h3 class="text-left pr-[20px] text-white font-heading text-2xl">{{blog.author}}</h3>
    <h1 class="text-sm text-gray-400">{{ blog.timestamp.seconds * 1000 | date:'MMM d, yyyy, h:mm aa' }}</h1>
  </div>
  <hr>
  <markdown *ngIf="blog.body && !error" [data]="blog.body"></markdown>
  <p *ngIf="error">An error occurred while loading the contents of the blog. Apologies for the inconvenience, check back later!</p>
</div>
